In [1]:
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
from matplotlib.pylab import style
style.use('ggplot')    
plt.rcParams['font.sans-serif'] = ['SimHei'] 
plt.rcParams['axes.unicode_minus'] = False

In [28]:
def merge_df(dt):
    df_resolve_new = pd.read_csv(f'stat{dt}/resolve_stat/gdl_jrs_msg_parse_channel.csv',
                             index_col = False)
    df_resolve_init = pd.read_csv('resolve/gdl_jrs_msg_parse_channel.csv',index_col = False)
    df_resolve_init['table_name'] = 'gdl_jrs_msg_parse'
    df_resolve_new.drop_duplicates(inplace = True)
    df_resolve_init.drop_duplicates(inplace = True)
    df_resolve = df_resolve_init.append(df_resolve_new).sort_values('dt').reset_index(drop = True)
    df_resolve.drop_duplicates(inplace = True)
    df_resolve.to_csv('resolve/gdl_jrs_msg_parse_channel.csv',index = False)
    return df_resolve

In [29]:
df_channel = merge_df('20200920')

In [13]:
date_start = '2019-03-01'
date_end = '2019-03-07'
# date_last = str(datetime.strptime(date_start, "%Y-%m-%d")- timedelta(days=6))[:-9]

In [20]:
df_channel_week = df_channel[(df_channel['dt'] > date_start) & (df_channel['dt'] < date_end)]

In [17]:
df_channnel_all = df_channel.groupby(['channel','dt']).agg('sum')

In [18]:
df_channnel_all = df_channnel_all.reset_index()

      channel          dt        num  unique_num
0           0  2019-03-01  928683813   464864870
1           0  2019-03-02  825572181   439876843
2           0  2019-03-03  711135680   380043513
3           0  2019-03-04  676758320   431798027
4           0  2019-03-05  754907917   417036852
...       ...         ...        ...         ...
1299        3  2020-09-07    1695783     1192579
1300        3  2020-09-08    1743380     1221891
1301        3  2020-09-09    2276788     1571340
1302        3  2020-09-10    1805726     1265520
1303        3  2020-09-11    1740171     1241449

[1304 rows x 4 columns]

In [23]:
df_channel_week = df_channel_week.groupby(['channel','dt']).agg('sum')